<app-dashboard-widget></app-dashboard-widget>
<div class="wrapper">
  <div class="content">
    <div class="header-controls">
      <a routerLink="/dashboard"><clr-icon shape="window-close" size="40" class="black"></clr-icon></a>
    </div>
    <div class="tabs">
      <mat-tab-group (selectedTabChange)="onTabChange($event)" [ngClass]="{'loading': isLoading()}">
        <mat-tab label="Pods">
          <table class="material-table" fxFlexFill matSort (matSortChange)="sortData($event)" *ngIf="!podsLoading">
            <thead>
            <tr>
              <th mat-sort-header="name">Pod Name</th>
              <th mat-sort-header="namespace">Namespace</th>
              <th mat-sort-header="ip">IP Address</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pod of sortedPods">
              <td>{{ pod.name }}</td>
              <td>{{ pod.namespace }}</td>
              <td>{{ pod.ip }}</td>
            </tr>
            <tr *ngIf="!sortedPods.length">
              <td colspan="3" style="border-bottom: none">No Data available</td>
            </tr>
            </tbody>
          </table>
          <mat-spinner *ngIf="podsLoading"></mat-spinner>
        </mat-tab>

        <mat-tab label="Service Mesh - DP">
          <table class="material-table" fxFlexFill matSort (matSortChange)="sortData($event)" *ngIf="!smdpLoading">
            <thead>
            <tr>
              <th mat-sort-header="cname">Container Name</th>
              <th mat-sort-header="sidecar">Sidecar</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let smdp of sortedSmdp">
              <td>{{ smdp.cname }}</td>
              <td>{{ smdp.sidecar }}</td>
            </tr>
            <tr *ngIf="!sortedSmdp.length">
              <td colspan="2" style="border-bottom: none">No Data available</td>
            </tr>
            </tbody>
          </table>
          <mat-spinner *ngIf="smdpLoading"></mat-spinner>
        </mat-tab>

        <mat-tab label="Service Mesh - CP">
          <table class="material-table" fxFlexFill matSort (matSortChange)="sortData($event)" *ngIf="!smcpLoading">
            <thead>
            <tr>
              <th mat-sort-header="podName">Pod Name</th>
              <th mat-sort-header="ip">IP</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let smcp of sortedSmcp">
              <td>{{ smcp.podName }}</td>
              <td>{{ smcp.ip }}</td>
            </tr>
            <tr *ngIf="!sortedSmcp.length">
              <td colspan="2" style="border-bottom: none">No Data available</td>
            </tr>
            </tbody>
          </table>
          <mat-spinner *ngIf="smcpLoading"></mat-spinner>
        </mat-tab>

        <mat-tab label="Kubernetes">
          <table class="material-table" fxFlexFill matSort (matSortChange)="sortData($event)" *ngIf="!kubernetesLoading">
            <thead>
            <tr>
              <th mat-sort-header="podName">Pod Name</th>
              <th mat-sort-header="ip">IP</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let kubernet of sortedKubernetes">
              <td>{{ kubernet.podName }}</td>
              <td>{{ kubernet.ip }}</td>
            </tr>
            <tr *ngIf="!sortedKubernetes.length">
              <td colspan="2" style="border-bottom: none">No Data available</td>
            </tr>
            </tbody>
          </table>
          <mat-spinner *ngIf="kubernetesLoading"></mat-spinner>
        </mat-tab>

        <mat-tab label="Zipkin & Blockchain">
          <table class="material-table" fxFlexFill matSort (matSortChange)="sortData($event)" *ngIf="!zbLoading">
            <thead>
            <tr>
              <th mat-sort-header="podName">Pod Name</th>
              <th mat-sort-header="ip">IP</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let zb of sortedZb">
              <td>{{ zb.podName }}</td>
              <td>{{ zb.ip }}</td>
            </tr>
            <tr *ngIf="!sortedZb.length">
              <td colspan="2" style="border-bottom: none">No Data available</td>
            </tr>
            </tbody>
          </table>
          <mat-spinner *ngIf="zbLoading"></mat-spinner>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="switch">
      <mat-slide-toggle
          class="example-margin"
          color="primary">
        Trace Controls
      </mat-slide-toggle>
    </div>
  </div>
</div>
