<div fxFlex fxLayout="row" fxLayoutAlign="space-around none">
  <mat-card fxFlex="80" fxLayout="row" fxLayoutAlign="center center" *ngIf="!loading">
    <div class="header-controls">
      <a routerLink="/dashboard"><img src="/assets/images/icons/window-close-line.svg" width="40" height="40"></a>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="space-around center" *ngIf="displayData">
      <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-raised-button (click)="previousItem()" [disabled]="position === 0" class="primary-button bc-control left">
          <img src="/assets/images/icons/caret-line-left.svg" alt="left">
        </button>
      </div>
      <div fxFlex="80" fxLayout="row" fxLayoutAlign="space-around center">
        <div *ngFor="let blockItem of displayData" fxFlex="40%">
          <app-block-list-item [item]="blockItem"></app-block-list-item>
        </div>
        <div fxFlex *ngIf="!loading && !displayData.length" fxLayout="row" fxLayoutAlign="space-around center">
          No Data Available
        </div>
      </div>
      <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-raised-button (click)="nextItem()" class="primary-button bc-control right">
          <img src="/assets/images/icons/caret-line-right.svg" alt="right">
        </button>
      </div>
    </div>
  </mat-card>
  <mat-card fxFlex="80" fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </mat-card>
</div>
